---
import Card from "@components/Card";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
// import { SOCIALS } from "@config";
import Layout from "@layouts/Layout.astro";
import { File, MagnifyingGlass } from "@phosphor-icons/react";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
// const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

// const socialCount = SOCIALS.filter(social => social.active).length;
const ICON_SIZE = "1rem";
---

<Layout>
  <div class="mx-a grid grid-cols-main justify-center">
    <nav>
      <div
        class="mb-4 mt-12 h-[160px] w-[160px] overflow-clip rounded-xl bg-[#9e8e60] bg-gradient-to-r from-[#756a50] to-[#b19a74]"
      >
        <img
          src="public/profile.jpeg"
          alt="Headshot of Ryan Slama"
          class="transition-all ease-in-out hover:scale-105"
        />
      </div>
      <ul>
        <LinkButton
          href="/search"
          className="focus-outline"
          ariaLabel="search"
          title="Search"
        >
          <li>
            <MagnifyingGlass size={ICON_SIZE} className="mb-1" />
            <span>Search</span>
            <span class="text-skin-muted">⌘K</span>
          </li>
        </LinkButton>

        <LinkButton
          href="/public/resume.pdf"
          className="focus-outline"
          ariaLabel="resume"
          title="Resume"
        >
          <li>
            <File size={ICON_SIZE} className="mb-1" />
            <span>Resume</span>
          </li>
        </LinkButton>
      </ul>
    </nav>
    <main id="main-content">
      <section id="hero">
        <div class="ml-auto">
          <h1>Hey, I'm Ryan</h1>
          <p class="text-base text-skin-accent antialiased">
            I’m a senior software engineer on Slack's Product Security
            Foundations team. I like weird music, modern board games, podcasts,
            and oxford commas.
          </p>
        </div>
      </section>
      <!-- {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <ul>
              {featuredPosts.map(({ data }) => (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
        </>
      )
    } -->

      <section id="recent-posts">
        <div class="ml-auto max-w-lg">
          <h2>Recent Posts</h2>
          <ul>
            {
              sortedPosts.map(
                ({ data }, index) =>
                  index < 4 && (
                    <Card
                      href={`/posts/${slugify(data)}`}
                      frontmatter={data}
                      secHeading={false}
                    />
                  )
              )
            }
          </ul>
        </div>
        <div class="all-posts-btn-wrapper">
          <LinkButton href="/posts">
            All Posts
            <svg xmlns="http://www.w3.org/2000/svg"
              ><path
                d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
              ></path>
            </svg>
          </LinkButton>
        </div>
      </section>
    </main>
  </div>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply max-w-lg pb-6 pt-8;
  }
  #hero h1 {
    @apply inline-block text-6xl font-bold;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply max-w-lg pb-6;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
